// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 ColtPlus
 */

/dts-v1/;

#include "rk3588-seewo-sv32-sv50.dtsi"
#include "sw-ioctl-iomux.dtsi"
/ {
	model = "Seewo SV50";
	compatible = "seewo,sv50", "rockchip,rk3588";
};

&pcie3x4 {
	status = "okay";
};

&pinctrl {
	/*usb {
		usb20_pwren_a: usb20-pwren-a {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb30_pwren_a: usb30-pwren-a {
			rockchip,pins = <4 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb30_pwren_b: usb30-pwren-b {
			rockchip,pins = <1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};*/
};
