// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 ColtPlus
 */

/dts-v1/;

#include "rk3588-seewo-sv32-sv50.dtsi"

/ {
	model = "Seewo SV50";
	compatible = "seewo,sv50", "rockchip,rk3588";
};

&pcie3x4 {
	status = "okay";
};

&pinctrl {
	wifi {
		wifi_pwren: wifi-pwren {
			rockchip,pins = <2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
    		};
		wifi_rst: wifi-rst {
	  		rockchip,pins = <2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
