// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 ColtPlus
 */

/dts-v1/;

#include "rk3588-seewo-sv15-sv32-sv50.dtsi"
#include "sw-ioctl-iomux.dtsi"
/ {
	model = "Seewo SV15";
	compatible = "seewo,sv15", "rockchip,rk3588";


&pcie3x4 {
	status = "okay";
};

&pinctrl {
};
