// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 ColtPlus
 */

/dts-v1/;

#include "rk3588-seewo-sv15-sv32-sv50.dtsi"

/ {
	model = "Seewo SV32";
	compatible = "seewo,sv32", "rockchip,rk3588";

	acm8625m_sound: i2s0-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,acm8625m";
		simple-audio-card,mclk-fs = <256>;
		status = "disab";

		simple-audio-card, {
			sound-dai = <&i2s0_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&acm8625m>;
		};
	};
};

&i2c3 {
	lt8911exb: lt8911exb@29 {
		compatible = "lontium,lt8911exb";
		reg = <0x29>;
		bl-on-gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
		panel-pwren-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_HIGH>;
		bl-pwren-gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;
		lt-irq-gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	acm8625m: acm8625m@2d {
		compatible = "esmt,acm8625m";
		reg = <0x2d>;
		#sound-dai-cells = <0>;
		reset_pin = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;
		no_mclk;
		status = "okay";
	};
};

&pinctrl {
	usb {
		usb20_pwren_a: usb20-pwren-a {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb30_pwren_a: usb30-pwren-a {
			rockchip,pins = <4 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb30_pwren_b: usb30-pwren-b {
			rockchip,pins = <1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&combphy1_ps {
	pinctrl-0 = <&sata1_pm_reset>;
};

&sata1 {
	status = "okay";
};

&mdio1 {
	compatible = "snps,dwmac-mdio";
	#address-cells = <1>;
	#size-cells = <0>;

	gsw140: switch@0 {
		compatible = "maxlinear,gsw140";
		reg = <0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@5 {
				reg = <5>;
				label = "cpu";
				ethernet = <&gmac1>;
				phy-mode = "rgmii";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@0 {
				reg = <0>;
				label = "lan1";
				phy-mode = "internal";
			};

			port@1 {
				reg = <1>;
				label = "lan2";
				phy-mode = "internal";
			};

			port@2 {
				reg = <2>;
				label = "lan3";
				phy-mode = "internal";
			};
		};
	};
};
